@mixin button {
  padding: 0.25rem 0.5rem;
  color: #fff;
  background: #777;
  border: none;
  border-radius: 3px;
  border: 1px solid #707070;

  &.success{
    background: #686;
    border-color: #686;
  }

  &.primary{
    background: #668;
    border-color: #668;
  }

  &.warning{
    color: #222;
    background: #ff9;
    border-color: #dd9;
  }

  &.error{
    background: #b55;
    border-color: #a55;
  }

  &:focus {
    outline: none;
  }
}

@mixin wideAttachedButton{
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}
