html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #eee;
}

a {
  transition: color 250ms;

  &,
  &:visited {
    color: #447;
    text-decoration: none;
  }

  &:hover {
    color: #114;
    text-decoration: underline;
  }
}

button {
  @include button;
}
