@import "helpers/_normalize";
@import "helpers/_clearfix";
@import "modules/_fonts";
@import "modules/_button";

body {
  overflow-x: auto;
  overflow-y: scroll;
  background-color: #eee;
}

a {
  transition: color 250ms;

  &,
  &:visited {
    color: #447;
    text-decoration: none;
  }

  &:hover {
    color: #114;
    text-decoration: underline;
  }
}

button {
  @include button;
}
