header {
  display: flex;
}

#title {
  margin: 0;
  padding: 1rem;
  color: #222;
  background: #fff;
}

#subtitle {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0;
  padding: 1rem;
  color: #666;
  background: #fff;
  border-left: 1px solid #ddd;
}

nav {
  @include clearfix;
  background: #399;
  margin: 0;
  margin-bottom: 1rem;
  padding: 1rem;

  button {
    display: block;
    float: left;
    margin-left: 0.5rem;
    box-shadow: 0 0 3px #666;
    transition: box-shadow 250ms;

    &:hover{
      box-shadow: 0 0 5px #444;
    }

    &.active {
      color: #333;
      background-color: #fff;
      border-color: #fff;
    }
  }
}
