.playground {
  display: flex;
  padding: 0 0 1rem 1rem;

  &.hidden {
    display: none;
  }

  & > article {
    flex: 2;
    margin-right: 1rem;
    padding: 1rem;
    background: #fff;
    outline: 1px solid #ddd;
  }
}

#input-output {
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: center;
}

#sourcemap-wrap {
  flex: 1;
}

#options-wrap {
  padding-left: 0;
  padding-bottom: 0;

  .section-title {
    margin-left: 0;
  }
}

#filesystem,
#input-output,
#options-wrap,
#sourcemap-wrap {
  display: none;

  &.active {
    display: block;
  }
}
