@mixin button {
  padding: 0.5em 1em;
  color: #fff;
  background: #777;
  border: none;
  border-radius: 3px;
  border: 1px solid #707070;

  &.success{
    background: #4a5;
    border-color: #4a5;
  }

  &.primary{
    background: #567;
    border-color: #567;
  }

  &.error{
    background: #b55;
    border-color: #a55;
  }

  &:focus {
    outline: none;
  }
}

@mixin wideAttachedButton {
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}
