@mixin button {
  padding: 0.25rem 0.5rem;
  color: #fff;
  background: #999;
  border: none;
  border-radius: 3px;
  border: 1px solid #888;

  &.success{
    background: #686;
    border-color: #686;
  }

  &.primary{
    background: #668;
    border-color: #668;
  }

  &.warning{
    background: #884;
    border-color: #884;
  }

  &.error{
    background: #844;
    border-color: #844;
  }

  &:focus {
    outline: none;
  }
}

@mixin wideAttachedButton{
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}
