@mixin button {
    padding: 0.25rem 0.5rem;
    color: #fff;
    background: #999;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 5px #888;
    border: 1px solid #888;

    &:focus {
      outline: none;
    }
}
