@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-6ol4mi");
  src: url("../fonts/icomoon.eot?#iefix-6ol4mi") format("embedded-opentype"), url("../fonts/icomoon.woff?-6ol4mi") format("woff"), url("../fonts/icomoon.ttf?-6ol4mi") format("truetype"), url("../fonts/icomoon.svg?-6ol4mi#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-cog:before {
  content: "\f013"; }

.icon-process:before {
  content: "\f04b"; }

.icon-file:before {
  content: "\f0f6"; }

.icon-pencil:before {
  content: "\f040"; }

.icon-trash:before {
  content: "\f014"; }

body {
  overflow-x: auto;
  overflow-y: scroll;
  background-color: #eee; }

a {
  -webkit-transition: color 250ms;
          transition: color 250ms; }
  a, a:visited {
    color: #447;
    text-decoration: none; }
  a:hover {
    color: #114;
    text-decoration: underline; }

button {
  padding: 0.25rem 0.5rem;
  color: #fff;
  background: #999;
  border: none;
  border-radius: 3px;
  border: 1px solid #888; }
  button:focus {
    outline: none; }

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

#title {
  margin: 0;
  padding: 1rem;
  color: #222;
  background: #fff; }

#subtitle {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  padding: 1rem;
  color: #666;
  background: #fff;
  border-left: 1px solid #ddd; }

nav {
  border-top: 1px solid #ddd; }
  nav:before, nav:after {
    content: " ";
    display: table; }
  nav:after {
    clear: both; }
  nav button {
    display: block;
    float: left;
    margin-left: 0.5rem;
    margin-top: -1px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
    nav button.active {
      color: #eee;
      background-color: #779;
      border-color: #668; }

#playground {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0 1rem 1rem; }
  #playground > article {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 1rem;
    padding: 1rem;
    background: #fff;
    outline: 1px solid #ddd; }

#input-output {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

#filesystem,
#input-output,
#options-wrap {
  display: none; }
  #filesystem.active,
  #input-output.active,
  #options-wrap.active {
    display: block; }

.section-title {
  font-size: 1rem;
  margin: -1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background: #f5f5f5;
  border-bottom: 1px solid #ddd; }

.section-subtitle {
  font-size: 0.75rem;
  margin-top: 0; }

#editors,
#files {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  #editors > section,
  #files > section {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-left: 1rem; }
    #editors > section:first-child,
    #files > section:first-child {
      padding-left: 0; }

#files #file_list {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
  list-style-position: outside; }
#files #file_name {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0.5rem;
  background: #fff;
  border: 1px solid #ddd; }
#files #save_file,
#files #new_file {
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none; }

.file {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0.5rem;
  background: #eee;
  border: 1px solid #ddd;
  border-bottom: none; }
  .file button {
    margin-left: 0.5rem; }
  .file .icon-file {
    padding: 0.25rem 0;
    padding-right: 0.5rem; }
  .file .icon-file,
  .file span {
    line-height: 1.5; }
  .file span {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0.25rem 0; }

.editor {
  box-sizing: border-box;
  width: 100%;
  height: 300px; }

.option {
  position: relative;
  padding: 10px 0; }
  .option label {
    display: inline-block;
    width: 150px;
    text-align: right; }
    .option label:after {
      content: ": "; }
  .option input,
  .option select {
    margin-left: 10px; }
  .option .comment {
    display: block;
    color: #666; }
    .option .comment:before {
      content: '/* '; }
    .option .comment:after {
      content: ' */'; }

.edit-file {
  padding-right: 0.3rem; }
