@import "_fonts";

body {
  padding: 1rem;
  background-color: #eee;
}

#title {
  background: #fff;
  padding: 1rem;
  margin: 0;
}

#subtitle {
  background: #fff;
  border-top: 1px solid #ddd;
  margin-top: 0;
  padding: 1rem;
  color: #666;
}

#playground {
  display: flex;

  & > h2 {
    display: none;
  }

  & > article {
    flex: 1;
  }
}

#credits {
  padding-top: 10px;
}

#input-output {
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: center;

  & > section {
    flex: 1 0 100px;

    & > textarea {
      box-sizing: border-box;
      width: 100%;
      height: 200px;
    }
  }
}

#options {
  padding: 20px;
  background: #fff;
  columns: 3;
  column-rule: 1px solid white;
  column-gap: 15px;
}

.option {
  position: relative;
  padding: 10px 0;

  label {
    display: inline-block;
    width: 150px;
    text-align: right;

    &:after {
      content: ": ";
    }
  }

  input,
  select {
    margin-left: 10px;
  }

  .comment {
    display: block;
    color: #666;

    &:before {
      content: '/* ';
    }

    &:after {
      content: ' */';
    }
  }
}

#filesystem {
  display: flex;
  align-items: flex-start;
  align-content: stretch;
  justify-content: center;

  padding: 20px;
  background: #DDD;

  & > section {
    display: flex;
    flex: 1 0 100px;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    justify-content: center;
  }

  & textarea {
    height: 200px;
  }
}

#options,
#filesystem,
#input-output {
  display: none;

  &.active{
    display: block;
  }
}
