header {
  @include clearfix;
  background-color: #456;
}

#logo {
  @include height-hack(100%);
  float: left;
  width: 6em;
  margin-right: 1em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

#title {
  margin: 0;
  padding: 0.5em;
  line-height: 1;
  color: #fff;
}

#subtitle {
  margin: 0;
  padding: 0 1em;
  font-size: 1em;
  font-weight: normal;
  color: #fff;
}

#sourcecode {
  position: absolute;
  top: 1em;
  right: 0;

  a {
    display: inline-block;
    padding: 0.5em;
    font-size: 2em;
    line-height: 1;
    text-decoration: none;
    color: #fff;

    &:hover i {
      animation: beat 1s infinite;
    }
  }
}

@keyframes beat {
  0% {
    transform : scale(1.0);
  }
  15% {
    transform : scale(1.2);
  }
  25% {
    transform : scale(1.0);
  }
  50% {
    transform : scale(1.2);
  }
  100% {
    transform : scale(1.2);
  }
}
