#information-container {
  display: none;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  &.active {
    display: block;
  }
}

#information-wrap {
  box-sizing: border-box;
  position: absolute;
  top: 25vh;
  left: 25vw;
  bottom: 25vh;
  right: 25vw;
  background: #fff;
  overflow-y: auto;
  padding: 1em;
  padding-left: 0;
  padding-bottom: 0;
  border-radius: 5px;

  .section-title {
    margin-left: 0;
    color: #222;
  }
}
