#options-container {
  display: none;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  &.active {
    display: block;
  }
}

#options-wrap {
  box-sizing: border-box;
  position: absolute;
  top: 3em;
  left: 3em;
  right: 3em;
  bottom: 3em;
  background: #fff;
  overflow-y: auto;
  padding: 1em;
  padding-left: 0;
  padding-bottom: 0;
  border-radius: 5px;

  .section-title {
    margin-left: 0;
  }
}

#options {
  display: flex;
  flex-wrap: wrap;
}

.option {
  position: relative;
  flex: 1 1 300px;
  margin-bottom: 1em;
  margin-left: 1em;
  padding: 1em;
  background-color: #f2f2f2;

  label {
    font-weight: bold;
    display: inline-block;

    &:after {
      content: ": ";
    }
  }

  .comment {
    margin-bottom: 0;
    opacity: 0.6;
  }
}
